<div class="text-center">
    <h1 class="display-4">Soy Santiago Romero (23)</h1>
    <h2>Estudiante de programacion con conocimientos en .NET y Java</h2>
    <img id="foto" src="~/imagenes/foto documento 1.jpg" alt="Foto de Santiago" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-logo-text.png" alt="Logo dotNet" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Bienvenido a mi portafolio en C#</h1>
        <p>Soy actualmente estudiante de último semestre del programa Técnica profesional en sistemas de informacion en el Politécnico Jaime Isaza Cadavid. Tengo formacion en HTML, CSS, 
            programacion en Java, phyton y C#, y conocimientos en Spring, Django y ASP.NET</p>
    </div>
</div>